.contactButton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  display: block;
  margin: auto;
  border: none;
}
.contactModal {
  top: 50%;
  left: 25%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 16;
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
  background: white;
  padding: 1em;
  border-radius: 20px;
}
