@import "variable_override";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "stage";
@import "moviesCards";
@import "featureMovies";
@import "shop";
@import "contact";
@import "footer";

body {
  font-size: 14px;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
.buttonRed {
  border: none;
  &:focus {
    background-color: red;
  }
}

.social {
  position: fixed;
  left: -100px;
  top: 60%;
  .social-row {
    width: 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 0 20px 20px 0;
    margin-bottom: 3px;
    padding: 10px 5px;
    p {
      margin: 0;
      margin-right: 10px;
    }
    .social-logo {
      background-color: white;
      border-radius: 50%;
      padding: 2px;
    }
  }
  .twitter {
    background-color: rgb(7, 175, 218);
    transition: 300ms;
    &:hover {
      transform: translate(100px, 0);
    }
  }
  .facebook {
    background-color: rgb(0, 0, 255);
    transition: 300ms;
    &:hover {
      transform: translate(100px, 0);
    }
  }
  .linkedin {
    background-color: rgb(248, 32, 219);
    transition: 300ms;
    &:hover {
      transform: translate(100px, 0);
    }
  }
  .google-plus {
    background-color: rgb(243, 31, 3);
    transition: 300ms;
    &:hover {
      transform: translate(100px, 0);
    }
  }
}

.title {
  color: rgb(226, 70, 23);
}

.trailerModal {
  top: 50%;
  left: 25%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 16;
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
  background: white;
  padding: 1em;
  border-radius: 20px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  &.active {
    z-index: 10;
    opacity: 1;
    pointer-events: all;
  }
}

.secondary-title {
  border-left: solid 4px red;
  padding-left: 10px;
}

.filmSection {
  width: 12.5rem;
}

.cookieModal {
  border-radius: 20px;
  a {
    color: red;
  }
  button {
    display: block;
    margin-left: auto;
    background-color: green;
    color: white;
    border: none;
  }
}

@media screen and (max-width: 778px) {
  .filmSection {
    width: 70vw;
    margin: auto;
  }
  .movieCardTarget,
  .featuredMoviesTarget,
  .shop {
    align-items: center;
  }
}
